<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>allProjects</title>
</head>
<body>


<h1>ALLE PROJEKTER SIDEN</h1>
<div>
    <a href="/createProject">Create Project</a>
</div>

<div>
    <a href="/staffOverview" >Staff Overview</a>
</div>

<br>

<div th:each="project : ${Project}">
    <div style="background: aqua; width: 75px">
        <a th:href="@{/subProject(id=${project.getProjectId()})}">
    <p th:text="${project.getProjectName()}"><br></p>
    <p th:text="${project.getProjectDescription()}"></p>
        </a>
        <a th:href="@{/updateProject(id=${project.getProjectId()})}">ÆNDRE</a>
    </div>
</div>

</body>
</html>