<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>

<form name="createSubTask" action="/createSubTask/submit" method="post">
    <label>subTask Description:</label>
    <input type="text" name="subTaskDescription" required>
    <label>Subproject Estimatet Work Hours:</label>
    <input type="text" name="subTaskEstimatetWorkHours" required th:value="${0}">
    <button type="submit">Create</button>
</form>

</body>
</html>