<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <link th:href="@{/styles/createForm.css}" rel="stylesheet">
</head>
<body>

<div class="header">
    <img class="logo" src="/styles/logo.PNG">
    <div id="topnav_path">
        <a class="header_button" href="/projects">Projects</a>
        <span>⇢</span>
        <a class="header_button_active">Create Project</a>
    </div>
</div>

<div class="form_container">
    <h1>CREATE PROJECT</h1>
    <form class="add_form_style" name="createProject" action="/createProject/submit" method="post">
        <div class="form_title">
         <label>Project Name</label>
            <input type="text" name="projectName" required>
        </div>
         <div class="form_description">
             <textarea type="text" name="projectDescription" placeholder="Project Description" required cols="65" rows="13"></textarea>
        </div>
        <button class="form_button" type="submit">Create</button>
    </form>
</div>
</body>
</html>