<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="CSS/inputBoxStyling.css">
<head>

    <meta charset="UTF-8">



    <form name="createProject" action="/createProject/submit" method="post">

        <div class="container">
            <h1>Create a new project </h1>
            <p>Fill out the details below to create your project</p>
            <hr>

            <label>Project Name:</label>
            <input class="input2" type="text" placeholder="projectName" required>

            <label>Project Description:</label>
            <input class="input1" type="text" placeholder="0/200 characters" required>


            <!--
            ** This is for estimated hours.
            <label for="psw-repeat"><b>Estimated hours for task</b></label>
            <input type="number" placeholder="hours" name="psw-repeat" id="psw-repeat" required>
            <hr>
            -->

            <button type="submit" class="saveBtn">Save Info</button>

        </div>

    </form>

</head>
<body>

</body>
</html>