<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>allProjects</title>
    <link th:href="@{/styles/projectPage.css}" rel="stylesheet">
</head>
<body>

<div class="header">
    <img class="logo" src="/styles/logo.PNG">
    <div class="topnav_path">
        <a class="header_button_active" href="/projects">Projects</a>
    </div>
    <div>
        <a class="project_btn" href="/staffOverview" >Staff Overview</a>
        <a class="project_btn" href="/createProject">Create Project</a>
    </div>
</div>

<div class="project_body">
    <div class="project_container">
        <div class="project_card_container" th:each="project : ${Project}">
            <a class="project_card_link" th:href="@{/subProject(id=${project.getProjectId()})}">
                <div class="project_card">
                    <p class="title" th:text="${project.getProjectName()}"><br></p>
                    <p class="description" th:text="${project.getProjectDescription()}"></p>
                </div>
            </a>
             <a class="project_btn" th:href="@{/updateProject(id=${project.getProjectId()})}">Edit</a>
        </div>
    </div>
</div>


</body>
</html>