<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff Overview</title>
    <link th:href="@{/styles/staffOverview.css}" rel="stylesheet">
</head>
<body>

<div class="header">
    <img class="logo" src="/styles/images/logo.PNG">
    <div id="topnav_path">
        <a class="header_button" href="/projects">Projects</a>
        <span>⇢</span>
        <a class="header_button_active" href="/staffOverview">Staff overview</a>
    </div>
</div>

<h1 class="header_title">Employees</h1>

<div class="employee_container">
    <div class="employee_infomation" th:each="employee : ${Staff}">
        <img class="employee_image" th:src="${employee.getProfilePicture()}">
        <span class="employee_name" th:text="${employee.getFirstName()} + ' ' + ${employee.getLastName()}"></span>
        <div class="workhours_container">
            <span class="employee_workhours">Time available</span>
               <span><span th:each="workHoursAvailable : ${employee.getWorkHoursAvailable()}" th:text="${workHoursAvailable}"></span> hours</span>

        </div>
        <span class="employee_skills" th:each="skills : ${employee.getSkills()}" th:text="${skills}"></span>
    </div>
</div>


</body>
</html>