<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>subProjects</title>
</head>
<body>

<h1>ALLE SUBPROJEKTER SIDEN</h1>

<div>
    <a href="/createSubProject">Create Subproject</a>
</div>

<div>
    <a href="/projects">Projects</a>
</div>

<div th:each="subProject : ${subProject}">
    <div style="background: aqua; width: 75px">
        <a th:href="@{/task(id=${subProject.getSubProjectId})}">
            <p th:text="${subProject.getSubProjectName()}"><br></p>
            <p th:text="${subProject.getSubProjectDescription()}"></p>
            <p th:text="${subProject.getEstimatetWorkHours()}"></p>
        </a>
        <a th:href="@{/updateSubProject(id=${subProject.getSubProjectId()})}">ÆNDRE</a>
    </div>
    <br>
</div>


</body>
</html>