<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subtasks</title>
    <link th:href="@{/styles/projectPage.css}" rel="stylesheet">
</head>
<body>

<div class="header">
    <a href="/projects">
        <img class="logo" src="/images/logo.PNG" >
    </a>
    <div id="topnav_path">
        <a class="header_button" href="/projects">Projects</a>
        <span>⇢</span>
        <a class="header_button" href="/backToSubProject">SubProjects</a>
        <span>⇢</span>
        <a class="header_button" href="/backToTasks">Tasks</a>
        <span>⇢</span>
        <a class="header_button_active" href="/backToSubTasks">Subtasks</a>
    </div>
    <div>
        <a class="project_btn" href="/createSubTask">Create subTask</a>
    </div>

</div>


<div class="project_description">
    <span>Estimated Work Hours: <span th:text="${task.getEstimatetWorkHours()}"></span></span>
    <h3 class="project_description_title" th:text="${task.getTaskName()}"></h3>
    <p class="project_description_description" th:text="${task.getTaskDescription()}"></p>
</div>

<h1 class="no_item_found" th:if="${subTasks.size() == 0}">No Subtasks found </h1>

<div class="project_body">
    <div class="project_container">
        <div class="project_card_container" th:each="subTask : ${subTasks}">
            <div class="project_card_link">
                <div class="project_card">
                    <div class="project_time_remaining">
                        <span>Estimeret tid: <span th:text="${subTask.getEstimatetWorkHours()}"></span> timer</span>
                    </div>
                    <p class="title" th:text="${subTask.getSubTaskName}"><br></p>
                    <p class="title_dependencies" th:text="Dependencies" th:unless="${subTask.getSubTaskDependencies().size == 0}"></p>
                    <div class="dependencies_container">
                        <div class="description_dependencies_container" th:each="dependentTasksNames : ${subTask.getSubTaskDependencies()}" >
                            <span class="description_dependencies" th:text="${dependentTasksNames.getSubTaskName()}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button_margin">
                <a class="project_btn" th:href="@{/updateSubTask(id=${subTask.getSubTaskId()})}">Edit</a>
            </div>

            <div class="project_form_container">
                <form name="dependency" th:action="@{/createSubTaskDependency/submit(id=${subTask.getSubTaskId()})}" method="post">
                    <label for="dependencies">Select subtask to depend on: </label>
                    <select  id="dependencies" name="dependency">
                        <option value="">Select subTask</option>
                        <option th:each="dependency : ${subTasks}"   th:value="${dependency.getSubTaskName()}" th:text="${dependency.getSubTaskName()}"
                                th:if="${dependency.getSubTaskId() != subTask.getSubTaskId()}"></option>
                    </select>
                    <input type="submit" class="project_submitbtn" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>