<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subtasks</title>
    <link th:href="@{/styles/projectPage.css}" rel="stylesheet">
</head>
<body>

<div class="header">
    <img class="logo" src="/styles/images/logo.PNG">
    <div id="topnav_path">
        <a class="header_button" href="/projects">Projects</a>
        <span>⇢</span>
        <a class="header_button" href="/backToSubProject">SubProjects</a>
        <span>⇢</span>
        <a class="header_button" href="/backToTasks">Tasks</a>
        <span>⇢</span>
        <a class="header_button_active" href="/backToSubTasks">Subtasks</a>
    </div>
    <div>
        <a class="project_btn" href="/createSubTask">Create subTask</a>
    </div>

</div>


<div class="project_description">
    <span>Estimated Work Hours: <span th:text="${task.getEstimatetWorkHours()}"></span></span>
    <h3 class="project_description_title" th:text="${task.getTaskName()}"></h3>
    <p class="project_description_description" th:text="${task.getTaskDescription()}"></p>
</div>


<div class="project_body">
    <div class="project_container">
        <div class="project_card_container" th:each="subTask : ${subTasks}">
            <div class="project_card_link">
                <div class="project_card">
                    <div class="project_time_remaining">
                        <span>Estimeret tid: <span th:text="${subTask.getEstimatetWorkHours()}"></span> timer</span>
                    </div>
                    <p class="title" th:text="${subTask.getSubTaskName}"><br></p>
                    <p class="title_dependencies" th:text="Dependencies" th:unless="${subTask.getSubTaskDependencies().size == 0}"></p>
                    <div class="dependencies_container">
                        <div class="description_dependencies_container" th:each="dependentTasksNames : ${subTask.getSubTaskDependencies()}" >
                            <span class="description_dependencies" th:text="${dependentTasksNames.getSubTaskName()}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button_margin">
                <a class="project_btn" th:href="@{/updateSubTask(id=${subTask.getSubTaskId()})}">Edit</a>
            </div>

            <div class="project_form_container">
                <form name="dependency" th:action="@{/createSubTaskDependency/submit(id=${subTask.getSubTaskId()})}" method="post">
                    <label for="dependencies">Select subtask to depend on: </label>
                    <select  id="dependencies" name="dependency">
                        <option value="">Select subTask</option>
                        <option th:each="dependency : ${subTasks}"   th:value="${dependency.getSubTaskName()}" th:text="${dependency.getSubTaskName()}"
                                th:if="${dependency.getSubTaskId() != subTask.getSubTaskId()}"></option>
                    </select>
                    <input type="submit" class="project_submitbtn"/>
                </form>
            </div>
        </div>
    </div>
</div>








<!--

<div class="project_body">
    <h2 class="header_project_title">All subTasks</h2>
    <div class="project_container">
        <div class="project_card_container" th:each="subTask : ${subTasks}">
                <div class="project_card">
                    <p class="title" th:text="${subTask.getSubTaskName}"><br></p>
                    <p class="description" th:text="${subTask.getSubTaskDescription()}"></p>
                    <p th:text="${subTask.getEstimatetWorkHours()}">Total required time</p>
                </div>
            <a class="project_btn" th:href="@{/updateSubTask(id=${subTask.getSubTaskId()})}">CHANGE</a>
            <div style="margin-top: 20px;">
                <form name="dependency" action="/createSubTaskDependency/submit" method="post">
                    <label for="dependencies">Select subtask to depend on: </label>
                    <select  id="dependencies">
                        <option value="">Select Task</option>
                        <option th:each="dependency : ${subTasks}"   th:value="${dependency.getSubTaskName()}" th:text="${dependency.getSubTaskName()}"
                                th:if="${dependency.getSubTaskId() != subTask.getTaskId()}"></option>
                    </select>
                     <a class="project_btn" th:href="@{/createTaskDependency/submit(id=${task.getTaskId()})}" class="btn btn-detail">Submit</a>
                </form>
            </div>
        </div>
    </div>
</div>
-->

</body>
</html>