<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link th:href="@{/styles/projectPage.css}" rel="stylesheet">
</head>
<body>

<div class="header">
    <img class="logo" src="/styles/images/logo.PNG">
    <div id="topnav_path">
        <a class="header_button" href="/projects">Projects</a>
        <span>⇢</span>
        <a class="header_button" href="/backToSubProject">SubProjects</a>
        <span>⇢</span>
        <a class="header_button_active" href="/backToTasks">Tasks</a>
    </div>
    <div>
        <a class="project_btn" href="/createTask">Create Task</a>
    </div>

</div>

<div class="project_description">
    <span>Estimated Work Hours: <span th:text="${subproject.getEstimatetWorkHours()}"></span></span>
    <h3 class="project_description_title" th:text="${subproject.getSubProjectName()}"></h3>
    <p class="project_description_description" th:text="${subproject.getSubProjectDescription()}"></p>
</div>

<h1 class="no_item_found" th:if="${tasks.size() == 0}">No Tasks found</h1>

<div class="project_body">
   <div class="project_container">
        <div class="project_card_container" th:each="task : ${tasks}">
            <a class="project_card_link" th:href="@{/subTask(id=${task.getTaskId()})}">
                <div class="project_card">
                    <div class="project_time_remaining">
                        <span>Estimeret tid: <span th:text="${task.getEstimatetWorkHours()}"></span> timer</span>
                    </div>
                    <p class="title" th:text="${task.getTaskName}"><br></p>
                    <p class="title_dependencies" th:text="Dependencies" th:unless="${task.getTaskDependencies().size == 0}"></p>
                    <div class="dependencies_container">
                        <div class="description_dependencies_container" th:each="dependentTasksNames : ${task.getTaskDependencies()}" >
                            <span class="description_dependencies" th:text="${dependentTasksNames.getTaskName()}"></span>
                        </div>
                    </div>

                </div>

            </a>
            <div class="button_margin">
                <a class="project_btn" th:href="@{/updateTask(id=${task.getTaskId()})}">Edit</a>
                <!--  <a class="project_btn" th:href="@{/taskDependencies(id=${task.getTaskId()})}" th:unless="${task.getTaskDependencies().size == 0}">SE DEP</a> -->
            </div>
            <div class="project_form_container">
                <form name="dependency" th:action="@{/createTaskDependency/submit(id=${task.getTaskId()})}"  method="post">
                    <label for="dependencies">Select Task to depend on: </label>
                    <select  id="dependencies" name="dependency">
                        <option value="">Select Task</option>
                        <option th:each="dependency : ${tasks}" th:value="${dependency.getTaskName()}" th:text="${dependency.getTaskName()}"
                                th:if="${dependency.getTaskId() != task.getTaskId()}">
                        </option>

                    </select>
                    <input type="submit" class="project_submitbtn"/>
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>