<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>ALLE TASK SIDEN</h1>

<div>
    <a href="/createTask">Create Task</a>
</div>

<table th:each="tasks : ${tasks}">
    <tbody style="background: aqua; width: 75px">
    <tr th:href="@{/subTask(id=${tasks.getTaskId()})}">
        <th th:text="${tasks.getTaskName()}"><br>> NAME & AGE </th>
        <td th:each="dependentTasksNames : ${tasks.getTaskDependencies()}" th:text="${dependentTasksNames}"></td>
        <!--  <td th:text="${tasks.getTaskDescription()}"></td>  -->
    </tr>
    </tbody>
</table>


<!--
<div th:each="tasks : ${tasks}">
    <div style="background: aqua; width: 75px">
        <a th:href="@{/subTask(id=${tasks.getTaskId()})}">
            <p th:text="${tasks.getTaskName()}"><br></p>
            <p th:text="${tasks.getTaskDescription()}"></p>
        </a>
        <a th:href="@{/updateTask(id=${tasks.getTaskId()})}">ÆNDRE</a>
    </div>
    <br>
</div>
-->


</body>
</html>