<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link th:href="@{/styles/projectPage.css}" rel="stylesheet">
</head>
<body>

<div class="header">
    <img src="/styles/logo.PNG">
    <div>
        <a class="header_button" href="/projects">Projects</a>
        <a class="header_button" href="/backToSubProject">SubProjects</a>
    </div>
    <div>
        <a class="header_button" href="/createTask">Create Task</a>
    </div>

</div>

<div class="project_body">
    <h2 class="header_project_title">All Tasks</h2>
        <div class="project_container">
            <div class="project_card_container" th:each="tasks : ${tasks}">
                <a class="project_card_link" th:href="@{/subTask(id=${tasks.getTaskId()})}">
                    <div class="project_card">
                        <p class="title" th:text="${tasks.getTaskName}"><br></p>
                        <p class="description" th:text="${tasks.getTaskDescription()}"></p>
                        <p th:text="${tasks.getEstimatetWorkHours()}">Total required time</p>
                    </div>
                </a>
                <div>
                    <a class="project_changebtn" th:href="@{/updateTask(id=${tasks.getTaskId()})}">CHANGE</a>
                    <a class="project_changebtn" th:href="@{/taskDependencies(id=${tasks.getTaskId()})}" th:unless="${tasks.getTaskDependencies().size == 0}">SE DEP</a>
                </div>
            </div>
        </div>
</div>

<!--
<th:block>
<table>
    <tr class="trHeader">
    <th>Opgavenavn</th>
    <th>Opgaven er afhængig af</th>
    </tr>

    <th:block th:each="tasks : ${tasks}">
    <tr class="tr" >

        <td><a class="td" th:href="@{/subTask(id=${tasks.getTaskId()})}" th:text="${tasks.getTaskName()}"></a>
        </td>
        <td class="dependencies" th:each="dependentTasksNames : ${tasks.getTaskDependencies()}" th:text="${dependentTasksNames}"></td>
          <td th:text="${tasks.getTaskDescription()}"></td>
    </tr>
    </th:block>



</table>
-->
    <!--
</table>
</th:block>

<table th:each="tasks : ${tasks}">
    <tbody class="tbody">
    <tr class="tr">
        <th class="th" th:href="@{/subTask(id=${tasks.getTaskId()})}" th:text="${tasks.getTaskName()} + ' afhængig af: '"><br>> NAME & AGE </th>
        <td class="td" th:each="dependentTasksNames : ${tasks.getTaskDependencies()}" th:text="${dependentTasksNames}"></td>

    </tr>
    </tbody>
</table>

    -->




<!--
<div th:each="tasks : ${tasks}">
    <div style="background: aqua; width: 75px">
        <a th:href="@{/subTask(id=${tasks.getTaskId()})}">
            <p th:text="${tasks.getTaskName()}"><br></p>
            <p th:text="${tasks.getTaskDescription()}"></p>
        </a>
        <a th:href="@{/updateTask(id=${tasks.getTaskId()})}">ÆNDRE</a>
    </div>
    <br>
</div>
-->


</body>
</html>