<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Project</title>
    <link th:href="@{/styles/createForm.css}" rel="stylesheet">
</head>
<body>

<div class="form_container">
    <h1>Change infomation</h1>
    <form class="add_form_style" name="update" action="/updateProject/submit" method="post">
        <div class="form_title">
            <label>Project Name</label>
            <input type="text" name="projectName" th:value="${project.getProjectName}">
        </div>
        <div class="form_description">
            <textarea  type="text" name="projectDescription" th:text="${project.getProjectDescription()}" cols="65" rows="13"></textarea>
        </div>
        <div class="button_container">
        <button  class="form_button" type="submit">Update</button>
        <a class="project_btn" th:href="@{/deleteProject/submit}">Delete</a>
        </div>
    </form>
</div>


</body>
</html>