<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update SubProject</title>
</head>
<body>

<div class="divForm">
    <h3>Skift infomation</h3>
    <form name="update" action="/updateSubProject/submit" method="post">
        SubProject Name:<br>
        <input type="text" name="subProjectName">
        <br>
        SubProject Description:<br>
        <input type="text" name="subProjectDescription">
        <br>
        SubProject EstimatetWorkHours:<br>
        <input type="text" name="subProjectEstimatetWorkHours">
        <br>
        <input type="submit" value="Skift">
    </form>
</div>


</body>
</html>