<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update Task</title>
    <link th:href="@{/styles/createForm.css}" rel="stylesheet">
</head>
<body>

<div class="header">
    <img class="logo" src="/images/logo.PNG">
    <div id="topnav_path">
        <a class="header_button" href="/projects">Projects</a>
        <span>⇢</span>
        <a class="header_button" href="/backToSubProject">SubProjects</a>
        <span>⇢</span>
        <a class="header_button" href="/backToTasks">Tasks</a>
        <span>⇢</span>
        <a class="header_button_active">Edit Task</a>
    </div>
</div>


<div class="form_container">
    <h1>Change infomation</h1>
    <form class="add_form_style" name="update" action="/updateTask/submit" method="post">

        <div class="form_title">
            <label>Tasks Name</label>
            <input type="text" name="taskName" th:value="${task.getTaskName()}">
        </div>

        <div class="form_workHours">
            <label>Task EstimatetWorkHours</label>
            <input type="number" name="taskEstimatetWorkHours" step="0.50" required th:value="${task.getEstimatetWorkHours()}">
        </div>

        <div class="form_description">
            <textarea type="text" name="taskDescription" th:text="${task.getTaskDescription()}" cols="65" rows="13"></textarea>
        </div>

        <div class="button_container">
            <button  class="form_button" type="submit">Update</button>
            <a class="project_btn" th:href="@{/deleteTask/submit}" onclick="return confirm('Are you sure you wanna delete?')">Delete</a>
        </div>

    </form>
</div>


</body>
</html>