<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update SubProject</title>
    <link th:href="@{/styles/createForm.css}" rel="stylesheet">
</head>
<body>

<div class="form_container">
    <h1>Change infomation</h1>
    <form class="add_form_style" name="update" action="/updateSubProject/submit" method="post">

        <div class="form_title">
            <label>SubProject Name</label>
            <input type="text" name="subProjectName" th:value="${subProject.getSubProjectName()}">
        </div>

        <div class="form_workHours">
            <label>SubProject EstimatetWorkHours</label>
            <input type="number" name="subProjectEstimatetWorkHours" step="0.01" required th:value="${subProject.getEstimatetWorkHours()}">
        </div>

        <div class="form_description">
            <textarea type="text" name="subProjectDescription" th:text="${subProject.getSubProjectDescription()}" cols="65" rows="13"></textarea>
        </div>

        <div class="button_container">
            <button  class="form_button" type="submit">Update</button>
            <a class="project_btn" th:href="@{/deleteSubProject/submit}">Delete</a>
        </div>

    </form>
</div>


</body>
</html>