<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update Task</title>
</head>
<body>

<div class="divForm">
    <h3>Skift infomation</h3>
    <form name="update" action="/updateTask/submit" method="post">
        Task Name:<br>
        <input type="text" name="taskName">
        <br>
        Task Description:<br>
        <input type="text" name="taskDescription">
        <br>
        SubProject EstimatetWorkHours:<br>
        <input type="text" name="taskEstimatetWorkHours">
        <br>
        <input type="submit" value="Skift">
    </form>
</div>


</body>
</html>