<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="divForm">
    <h3>Skift infomation</h3>
    <form name="update" action="/updateProject/submit" method="post">
        Project Name:<br>
        <input type="text" name="projectName">
        <br>
        Project Description:<br>
        <input type="text" name="projectDescription">
        <br>
        <input type="submit" value="Skift">
    </form>
</div>


</body>
</html>