/* ----------------------------------------------------------------------------- */
/* ------------------------------ TABLES --------------------------------------- */
/* ----------------------------------------------------------------------------- */

.center {
    margin-left: auto;
    margin-right: auto;
}

.tbody {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: wrap;
}

.tr {
    display: grid;
    padding-top: 15px;
}