/* ----------------------------------------------------------------------------- */
/* ------------------------------ TABLES --------------------------------------- */
/* ----------------------------------------------------------------------------- */

.center {
    margin-left: auto;
    margin-right: auto;
}

.ttable{
    border-collapse: separate;
    border-spacing: 20px 10px;
}

.tbody {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: wrap;
}

.th {
    text-transform: uppercase;
    background-color: aquamarine;
    color: white;
}

.tr {

    display: grid;
    padding-top: 15px;
    padding: 5px;


}