/*------------------------------------------------------------------*/
/*----------------------Fonts---------------------------------------*/
/*------------------------------------------------------------------*/

h1, h2, h3, h4, h5, p, a {
    font-family: Montserrat, sans-serif; }


p {
    font-size: 20px;
    letter-spacing: 0.9px;
    line-height: 1.38; }
@media only screen and (max-width: 768px) {
    p {
        font-size: 18px; } }
@media only screen and (max-width: 400px) {
    p {
        font-size: 15px; } }
@media only screen and (max-width: 350px) {
    p {
        font-size: 13px; } }

h1 {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2.4px;
    line-height: 1.2; }
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 40px; } }
@media only screen and (max-width: 550px) {
    h1 {
        font-size: 25px; } }
@media only screen and (max-width: 360px) {
    h1 {
        font-size: 20px; } }
h1 p {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2.4px;
    line-height: 1.2; }
@media only screen and (max-width: 768px) {
    h1 p {
        font-size: 40px; } }
@media only screen and (max-width: 550px) {
    h1 p {
        font-size: 25px; } }
@media only screen and (max-width: 350px) {
    h1 p {
        font-size: 20px; } }

h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.25; }
@media only screen and (max-width: 768px) {
    h2 {
        font-size: 30px; } }
@media only screen and (max-width: 400px) {
    h2 {
        font-size: 25px; } }
h2 p {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.25; }
@media only screen and (max-width: 768px) {
    h2 p {
        font-size: 30px; } }
@media only screen and (max-width: 400px) {
    h2 p {
        font-size: 25px; } }

h3 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1.2px; }
@media only screen and (max-width: 768px) {
    h3 {
        font-size: 25px; } }
h3 p {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1.2px; }

h4 {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1.2px; }
@media only screen and (max-width: 768px) {
    h4 {
        font-size: 20px; } }
h4 p {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1.2px; }
@media only screen and (max-width: 400px) {
    h4 p {
        font-size: 20px; } }

h5 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.3; }
@media only screen and (max-width: 1100px) {
    h5 {
        font-size: 18px; } }
@media only screen and (max-width: 768px) {
    h5 {
        font-size: 16px; } }
h5 p {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.3; }
@media only screen and (max-width: 1100px) {
    h5 p {
        font-size: 18px; } }
@media only screen and (max-width: 768px) {
    h5 p {
        font-size: 16px; } }

/*------------------------------------------------------------------*/
/*----------------------Topnav/Header-------------------------------*/
/*------------------------------------------------------------------*/


.header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}

.header #topnav_path {
    position: absolute;
    margin-left: 150px;

}

.header #topnav_path a:hover {
    border-bottom: rgba(255, 50, 90, 0.54) 2px solid;
    transition: 0.3s;
}

.header_project_title {
    font-size: 30px;
}

.header_button {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px 0 5px;
}

.header_button_active {
    border-bottom: #FF325A 2px solid;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px 0 5px;
}


/*------------------------------------------------------------------*/
/*----------------------Body----------------------------------------*/
/*------------------------------------------------------------------*/



.project_body {
    margin: 0 20px 0 20px;
}


.project_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 0.5rem;;

}

@media (min-width: 900px ) {
    .project_container { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 1350px ) {
    .project_container { grid-template-columns: 1fr 1fr 1fr; }
}

@media (min-width: 1800px ) {
    .project_container { grid-template-columns: 1fr 1fr 1fr 1fr; }
}

.project_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 5px 15px 5px;
}

.project_card_link {
    text-decoration: none;
    color: black;
    box-shadow: 0 0px 20px 0 #C9CCEF;
    border-radius: 13px;
}

.project_card {
    width: 415px;
    height: 190px;
    border-left: #8EB7C5 4px solid;
    border-bottom: #add8e6 6px solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: column;
}

.project_card:hover {
    border-left: #4C636F 4px solid;
    border-bottom: #7CA5B3 6px solid;
    transition: 0.2s;
}

.project_card:active {
    border-left: #4C636F 1px solid;
    border-bottom: #7CA5B3 3px solid;

}


.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}

.description {

}

.project_body_selected_task {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_project_title_dependencies {
    font-size: 30px;
    text-align: center;
}

.description_dependencies {
    text-align: center;
    padding: 5px;
    color: white;
}

.description_dependencies_container {
    background: #ff2d2d;
    border-radius: 10px;
    width: 115px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

.dependencies_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    /* margin: 20px 0 20px 0; */
}

.button_margin {
    margin-top: 30px;
}

.title_dependencies {
    font-size: 16px;
    margin: 5px;
    color: #4F758C;
    font-weight: bold;
}

.logo {
    height: 75px;
}

.project_time_remaining {
    align-self: center;
    margin: 5px 0 5px 0;
    color: #4F758C;
    font-weight: bold;
    font-size: 16px;
}

.project_description {
    margin: 40px;
    width: auto;
    text-align: center;
}

.project_description_title {

    color: #4F758C;
    margin-bottom: 10px;
}

.project_description_description {
    font-size: 14px;
}

.project_form_container {
    margin-top: 20px;
}

.no_item_found {
    text-align: center;
    margin-top: 200px;
    color: #4F758C;
}

/*------------------------------------------------------------------*/
/*----------------------Buttons-------------------------------------*/
/*------------------------------------------------------------------*/



.project_btn {
    margin: 15px 0 15px 0;
    background: #4F758C;
    border-left: #8EB7C5 3px solid;
    border-bottom: #add8e6 5px solid;
    padding: 15px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.project_btn:hover{
    border-left: #4C636F 3px solid;
    border-bottom: #7CA5B3 5px solid;
    transition: 0.2s;
}

.project_btn:active {
    border-left: #4C636F 1px solid;
    border-bottom: #7CA5B3 3px solid;

}

.project_submitbtn {
    margin: 15px 0 15px 0;
    background: #4F758C;
    border-left: #8EB7C5 3px solid;
    border-bottom: #add8e6 5px solid;
    padding: 4px;
    border-radius: 9px;
    color: white;
    text-decoration: none;
    border: none;
}

.project_submitbtn:hover{
    border-left: #4C636F 3px solid;
    border-bottom: #7CA5B3 5px solid;
    transition: 0.2s;
}


.project_card:active {
    border-left: #4C636F 1px solid;
    border-bottom: #7CA5B3 3px solid;
}
